.slogan {
    font-size: 60px;
}

.description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    color: #404040;
}

.description-img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
}

.orange-bg {
    background-color: rgba(252, 128, 25, 1);
}

.button-signinout {
    color: #FFFFFF;
    gap: 10px;
    width: 96px;
    height: 49px;
    background: #202020;
    border-radius: 10px;
    margin-left: 1rem;
}

.search {
    padding: 15px 25px;
    gap: 10px;
    width: 450px;
    height: 49px;
    background: inherit;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
}

input, input::placeholder, input:focus {
    color: #FFFFFF;
    border: none;
    font-family: FontAwesome;
}

.img-same-dim {
    width: 120px;
    height: 120px;
}

.vw-90{
    width: 90vw;
}

.text-black {
    font-size: 16px;
    font-weight: bold;
}

.variable {
    color: #FC8019;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    gap: 10px;
    width: 450px;
    height: 49px;
    background: #FFFFFF;
    opacity: 0.75;
    border: 1px solid #808080;
    border-radius: 10px;
    color: black;
}

input, input:focus {
    border: none;
    font-family: FontAwesome;
}