.categories {
    font-size: 24px;
    line-height: 36px;
    color: #202020;
}

.card {
    background: #F8F8F8;
    border-radius: 10px;
}

.img {
    width: 13rem;
    height: 10rem;
}

.dish-name {
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #202020;
}

.restaurant-name {
    font-size: 16px;
    line-height: 24px;
    text-transform: lowercase;
    color: #808080;
}

.rating {
    font-size: 16px;
    line-height: 24px;
    color: #202020;
}

.oi-star {
    color: #1AC84B;
}

.fa-calendar-check-o {
    color: rgba(252, 128, 25, 1);
}

.delivery-time {
    font-size: 12px;
    line-height: 24px;
    color: #202020;
}

.fa-users {
    color: rgba(252, 128, 25, 1);
}

.price-per-pax {
    font-size: 12px;
    line-height: 24px;
    color: #202020;
}

.price-tag {
    font-size: 16px;
    line-height: 24px;
    color: #202020;
}
