<div>
    <h5 class="text-white">Magnum Opus</h5>
</div>
<div>
    <NavLink href="/aboutus" Match="NavLinkMatch.All" class="text-white">About Us</NavLink>
    <div>
        <span>
            <i class="fa fa-facebook mr-1" aria-hidden="true"></i>
            <i class="fa fa-instagram mr-1" aria-hidden="true"></i>
            <i class="fa fa-twitter mr-1" aria-hidden="true"></i>
        </span>
    </div>
</div>
<div>
    <span class="text-white">Contact: <span class="font-weight-bold">+65 64781234</span></span>
</div>

@code {

}
