@inherits LayoutComponentBase

<div class="main">
    <div class="navbar">
        <NavMenu />
    </div>

    <div class="content px-4">
        @Body
    </div>

    <div class="w-100 h-75 mt-5 p-5 text-white orange-bg text-center d-flex justify-content-between align-content-center">
        <Footer />
    </div>
</div>
