@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<nav class="navbar navbar-expand-md navbar-light container">
    <a class="navbar-brand logo" href="">Magnum Opus</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item mr-auto">
                        <form action="/">
                            <input class="search" type="text" placeholder="Enter item or restaurant &#xF002">
                            <input type="submit" hidden>
                        </form>
                    </li>
                    <li class="nav-item mr-auto">
                        <NavLink class="btn btn-dark ml-2" href="authentication/logout" Match="NavLinkMatch.All" @onclick="BeginSignOut">
                            Log Out
                        </NavLink>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item mr-auto">
                        <form action="/">
                            <input class="search" type="text" placeholder="Enter item or restaurant &#xF002">
                            <input type="submit" hidden>
                        </form>
                    </li>
                    <li class="nav-item mr-auto">
                        <NavLink class="btn btn-dark ml-2" href="authentication/login" Match="NavLinkMatch.All">
                            Sign In
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}